*{
    font-family: 'Roboto', sans-serif;
   }
   
   ul 
   {
     font-size: 24px;
     list-style-type: none;
     margin: 0;
     padding: 30px;
     background-color: #0048A4ff;
     position: relative;
     top: 0;
     width: 100%;
   }
   
   li 
   {
     background-color: #0048A4ff;
     float: right;
     position: relative;
     top: 25px;
     margin-left: 10px;
     margin-right: 70px;
   }
   
   li a 
   {
     color: white;
     text-align: center;
     padding: 15px 30px;
     text-decoration: none;
   }
   
   .button 
   {
     background-color: #E08955;
   }
   
   .logo
   {
     width: 100px;
     height: 70px;
     padding-top: 0px;
     top: 10px;
   }
   
   .head-div
   {
     background-color: white;
     position: relative;
     top: 80px;
     margin-left: 60px;
   }
   
   .homeimg
   {
     width: 500px;
     height: 450px;
     position: relative;
     left: 700px;
     bottom: 350px;
   }
   
   .heading
   {
     font-size: 80px;
     font-weight: bold;
   }
body {
    background-size: 200% 100% !important;
    -webkit-animation: move 10s ease infinite;
            animation: move 10s ease infinite;
    transform: translate3d(0, 0, 0);
    background: linear-gradient(45deg, #f29661 10%, #5e9ef1 50%);
    height: 100vh;
    position: relative
}
.wrapper
{
    position: relative;
    top: 25%;
}
#wrapper {
    background: #ffffff;
    width: 390px;
    overflow: hidden;
    height: 250px;
    font-family: "PT Sans Narrow", "Fjalla One", sans-serif;
    border-radius: 3px;
    border: 3px solid #fff;
    box-shadow: 0 0 2px #ffffff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    margin: auto
    
}

#header {
    background: #ed6639;
    color: #fff;
    height: 50px;
    border-bottom: 3px solid #fff;
    font-size: 1.3em;
    text-align: center;
    line-height: 50px;
    font-weight: 700
}

#slider {
    background: #0048A4;
    width: 750px;
    height: 178px;
    -webkit-transition: margin-left .5s cubic-bezier(0, 1, 0.5, 1);
    -moz-transition: margin-left .5s cubic-bezier(0, 1, 0.5, 1);
    -o-transition: margin-left .5s cubic-bezier(0, 1, 0.5, 1);
    transition: margin-left .5s cubic-bezier(0, 1, 0.5, 1);
    padding: 10px
}

#slider:hover {
    margin-left: -380px
}

.screen {
    width: 370px;
    height: 180px;
    float: left;
    color: #fff
}

.screen:not(:first-child) {
    margin-left: 10px
}

.profile-picture {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: 3px solid #fff;
    background: #ffffff;
    display: block;
    margin: 30px auto auto
}

.profile-owner, .ttch {
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 1.3em;
    padding: 5px
}

.ttch {
    font-size: 12px;
    margin: 0;
    padding: 0
}

.profile-description {
    margin-top: 30px;
    font-size: 1em
}

.profile-description p {
    text-align: center;
    margin: 0
}

.profile-description p a {
    text-decoration: none;
    color: #fff
}