*{
 
    font-family: 'Roboto', sans-serif;
}

ul {
  font-size: 24px;
  list-style-type: none;
  margin: 0;
  padding: 30px;
  background-color: #0048A4ff;
  position: relative;
  top: 0;
  width: 100%;
}

li {
  
    float: right;
    position: relative;
    top: 25px;
    margin-left: 10px;
    margin-right: 70px;
    color: white;  
}

li a {
  
  color: white;
  text-align: center;
  padding: 15px 30px;
  text-decoration: none;
}

.button {
    background-color: #E08955;
    
   
}

.logo{
    width: 100px;
    height: 70px;
    padding-top: 0px;
    top: 10px;
}

.head-div{
    background-color: white;
    position: relative;
    top: 40px;
    margin-left: 150px;
}

.heading{
    font-size: 30px;
    font-weight: bold;
}

.menu1{
    width: 100px;
    height: 600px;
    position: relative;
    bottom: 580px;
}

.para{
    font-size: 20px;
    font-weight: 400;
    position: relative;
    text-align: left;
}

.im1{
    width: 200px;
    height: 150px;
    position: relative;
    left: 1003px;
    bottom: 400px;
}
.im2{
    width: 200px;
    height: 150px;
    position: relative;
    left: 800px;
    bottom: 80px;
}
.im3{
    width: 200px;
    height: 150px;
    position: relative;
    left: 596px;
    bottom: 240px;
}

.button1{
    bottom: 70px;
    background-color: #E35A01;
    position: relative;
    left: 10px;
}

footer {
    text-align: left;
    padding: 30px;
    background-color: #0048A4ff;
    color: white;
    position: relative;
    bottom: 600px;
    width: 100%;
    margin: 0;
  }

.address {
    margin-left: 120px;
    position: relative;
    top: 30px;
}

.copyright-text{
   text-align: right;
   margin-right: 100px;
  }


.sm{
  width: 200px;
  height: 40px;
  position: relative;
  left: 850px;
  bottom: 120px;
}
  

