*{
 font-family: 'Roboto', sans-serif;
}

ul 
{
  font-size: 24px;
  list-style-type: none;
  margin: 0;
  padding: 30px;
  background-color: #0048A4ff;
  position: relative;
  top: 0;
  width: 100%;
}

li 
{
  background-color: #0048A4ff;
  float: right;
  position: relative;
  top: 25px;
  margin-left: 10px;
  margin-right: 70px;
}

li a 
{
  color: white;
  text-align: center;
  padding: 15px 30px;
  text-decoration: none;
}

.button 
{
  background-color: #E08955;
}

.logo
{
  width: 100px;
  height: 70px;
  padding-top: 0px;
  top: 10px;
}

.head-div
{
  background-color: white;
  position: relative;
  top: 80px;
  margin-left: 60px;
}

.homeimg
{
  width: 500px;
  height: 450px;
  position: relative;
  left: 700px;
  bottom: 350px;
}

.heading
{
  font-size: 80px;
  font-weight: bold;
}

.para
{
  font-size: 20px;
  font-weight: 400;
}

.site-footer
{
  background-color: #0048A4ff;
  font-size:15px;
  line-height:24px;
  color:#ffff;
  position: relative;
  letter-spacing:0.5px;
  height: 450px;
  bottom:250px;
}
  
.about
{
  position: relative;
  left:0px;
  padding-top:15px;
  padding-left: 80px;
}
.abt
{
  position: relative;
  color:#fff;
  font-size:16px;
}
.aboutpara
{
  font-size:14;
}

.cat1
{
  position: relative;
  left:50px;
  padding-left: 730px;
  bottom: 215px;
}
.cat2
{
  position: relative;
  color:#fff;
  font-size:16px;
}
.cat3
{
  font-size:14;
}

.ql1
{
  position: relative;
  left:100px;
  padding-left: 950px;
  padding-top: 5px;
  bottom: 480px;
}
.ql2
{
  position: relative;
  color:#fff;
  font-size:16px;
}
.ql3
{
  font-size:14;
}

hr
{
  border-top-color:#689AB8;
  position: relative;
  margin:30px;
  opacity:2;
  bottom: 400px;
}

.copyright-text
{
  position: relative;
  margin:80px;
  bottom: 460px;
}

.sm
{
  width: 200px;
  height: 40px;
  position: relative;
  left: 950px;
  bottom: 565px;
}

