*{
 
    font-family: 'Roboto', sans-serif;
}

ul {
  font-size: 24px;
  list-style-type: none;
  margin: 80px;
  padding: 30px;
  background-color: #0048A4ff;
  position: relative;
  top: 0;
  width: 100%;
}

li {
  
    float: right;
    position: relative;
    top: 25px;
    margin-left: 10px;
    margin-right: 70px;
    color: white;  
}

li a {
  
  color: white;
  text-align: center;
  padding: 15px 30px;
  text-decoration: none;
}

.button {
    background-color: #E08955; 
}

.logo{
    width: 100px;
    height: 70px;
    padding-top: 20px;
    top: 80px;
    padding-left: 20px;
    padding-bottom: 15px;
}

.head-div{
    background-color: white;
    position: relative;
    top: 40px;
    margin-left: 150px;
}

.heading{
    font-size: 30px;
    font-weight: bold;
}


.para{
    font-size: 20px;
    font-weight: 400;
    position: relative;
    text-align: left;
}

.im1{
    width: 200px;
    height: 150px;
    position: relative;
    left: 1003px;
    bottom: 400px;
}
.im2{
    width: 200px;
    height: 150px;
    position: relative;
    left: 800px;
    bottom: 80px;
}
.im3{
    width: 200px;
    height: 150px;
    position: relative;
    left: 596px;
    bottom: 240px;
}

.button1{
    bottom: 70px;
    background-color: #E35A01;
    position: relative;
    left: 10px;
}

.site-footer
{
  background-color: #0048A4ff;
  font-size:15px;
  line-height:24px;
  color:#ffff;
  position: relative;
  letter-spacing:0.5px;
  height: 450px;
  bottom: 10px;
}
  
.about
{
  position: relative;
  left:0px;
  padding-top:15px;
  padding-left: 80px;
}
.abt
{
  position: relative;
  color:#fff;
  font-size:16px;
}
.aboutpara
{
  font-size:14;
}

.cat1
{
  position: relative;
  left:50px;
  padding-left: 730px;
  bottom: 215px;
}
.cat2
{
  position: relative;
  color:#fff;
  font-size:16px;
}
.cat3
{
  font-size:14;
}

.ql1
{
  position: relative;
  left:100px;
  padding-left: 950px;
  padding-top: 5px;
  bottom: 480px;
}
.ql2
{
  position: relative;
  color:#fff;
  font-size:16px;
}
.ql3
{
  font-size:14;
}

hr
{
  border-top-color:#689AB8;
  position: relative;
  margin:30px;
  opacity:2;
  bottom: 400px;
}

.copyright-text
{
  position: relative;
  margin:80px;
  bottom: 460px;
}

.sm
{
  width: 200px;
  height: 40px;
  position: relative;
  left: 950px;
  bottom: 565px;
}

@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
opacity: 1;
}


.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
}

.main-menu {
background:#0048A4;
border-right:1px solid #e5e5e5;
position:absolute;
top: 50px;
bottom:0;
height:100%;
left:50px;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;

z-index:1000;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#100f0f;
 font-family: arial;
font-size: 14px;
text-decoration:none;

-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#e35a01;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 80%;

}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}


