<!DOCTYPE html>
  <html lang="en">
    <head>
        <title>Sign Language Translator</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="google" value="notranslate"/>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/signupform.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <script src="{{ url_for('static',filename='scripts/signupform.js') }}"></script>
    </head>

    <body>
      <nav>
        <ul>
            <img class="logo" src="{{ url_for('static',filename='images/logo.jpeg') }}">
            <li><a class="button" href="{{ url_for('home') }}">Back</a></li>
            <i class="glyphicon glyphicon-cloud"></i>
        </ul>
      </nav>

      <div class="user">
        <header class="user__header">
          <h1 class="user__title"><b>Register Form</b></h1>
        </header>
        
        <form class="form">
            <div class="form__group">
                <input type="text" name="uname1" placeholder="Username" class="form__input" />
            </div>
            
            <div class="form__group">
                <input type="email" name="email" placeholder="Email" class="form__input" />
            </div>
            
            <div class="form__group">
                <input type="password" name="upswd1" placeholder="Password" class="form__input" />
            </div>

            <div class="form__group">
                <input type="text" name="upswd2" placeholder="Re-enter Password" class="form__input" />
            </div>
            
            <button class="btn" type="button" name="">Register</button>
        </form>
      </div>
    </body>
</html>